/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Base style */

:root::-webkit-scrollbar {
	display: none;
}

html {
	/*
	 * https://www.sessions.edu/color-calculator/
	 * https://www.myndex.com/APCA/
	*/
	
	scrollbar-width: none;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
}

body {
	background: #161619;
	color: #F0EFED;
	font-family: "Lato";
	font-size: 16px;
	line-height: 1.5em;
	
	margin: auto;
	padding: 50px;
	min-width: 270px; /* 320px accessibility standard - (padding * 2) */
	max-width: 550px;
}

a {
	color: #5BF;
	text-decoration: none;
}

h1, h2, h3 {
	color: #FFF;
	font-family: "Inter";
	font-weight: 800;
	line-height: 1em;
	margin: 1em 0 0;
	
	a {
		color: #FFF;
	}
}

h1 {
	font-size: 3em;
}

body > h1 {
	margin: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

ol {
	list-style-type: decimal;
	
	ol {
		list-style-type: lower-alpha;
	}
}

hr {
	border: none;
	border-top: 1px solid #FFFFFF33;
}

img {
	height: 100%;
	width: 100%;
	
	border: solid 1px #FFFFFF50;
	border-style: solid;
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	
	white-space: pre;
}

.wrapper-footer {
	display: flex;
	justify-content: space-between;
	
	p {
		margin: 0;
	}
}

@media screen and (width <= 600px) {
	iframe {
		width: 100%;
	}
	
	ul {
		padding-inline-start: 25px;
	}
}