/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Base style */

:root::-webkit-scrollbar {
	display: none;
}

html {
	/*
	 * https://www.sessions.edu/color-calculator/
	 * https://www.myndex.com/APCA/
	*/
	
	--background-color: #FCFCFC;
	--text-color-header: #000;
	--text-color-body: #222;
	--link-color: dodgerblue;
	
	scrollbar-width: none;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
}

body {
	background-color: var(--background-color);
	color: var(--text-color-body);
	font-family: "Roboto Mono", "Courier New";
	font-weight: 400;
	font-size: 14px;
	
	margin: auto;
	padding: 50px;
	min-width: 220px; /* 320px accessibility standard - (50x padding * 2) */
	max-width: 500px;
}

a {
	color: var(--link-color);
}

ul {
	list-style: none;
	padding-inline-start: 2em;
	
	line-height: 1.25em;
	margin: 5px auto;
}

.title {
	color: var(--text-color-header);
	font-size: 20px;
	font-weight: 600;
}

.subtitle {
	color: var(--text-color-header);
	font-size: 15px;
	font-style: italic;
	opacity: 0.4;
}

.header {
	color: var(--text-color-header);
	font-size: 15px;
	font-weight: 600;
}

.grid-personal {
	display: grid;
	gap: 0 4em;
	grid-template-columns: auto 1fr;
	margin: auto;
}

.grid-present {
	display: grid;
	gap: 0.2em 1.6em;
	grid-template-columns: auto auto 1fr;
	margin: auto;
}

.grid-past {
	display: grid;
	gap: 0.2em 1.6em;
	grid-template-columns: auto auto 1fr;
	margin: auto;
}

.grid-portfolio {
	display: grid;
	gap: 1px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0.3em auto 0;
}

.grid-portfolio img {
	height: 100%;
	width: 100%;
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	
	white-space: pre;
}

@media screen and (width <= 500px) {
	.grid-present, .grid-past {
		grid-template-columns: auto 1fr;
	}
	
	.grid-present div:nth-child(3n - 2), .grid-past div:nth-child(3n - 2) {
		grid-row: span 2;
	}
	
	.grid-present div:nth-child(3n - 1), .grid-past div:nth-child(3n - 1) {
		grid-row: span 1;
	}
	
	.grid-present div:nth-child(3n), .grid-past div:nth-child(3n) {
		grid-row: span 1;
	}
	
	.grid-portfolio {
		grid-template-columns: 1fr 1fr;
	}
}