/* Imports */

@import url(fontawesome-all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base style */

:root {
	/* 	https://www.sessions.edu/color-calculator/
		https://www.myndex.com/APCA/
	*/
	
	--background-color: #FFF;
	--title-color: #000;
	--header-color: #333;
	--text-color: #444;
	--link-color: dodgerblue;
	
	scrollbar-width: none;
}

:root::-webkit-scrollbar {
	display: none;
}

@media(prefers-color-scheme: dark) {
    :root {
		/*  https://blog.karenying.com/posts/50-shades-of-dark-mode-gray#youtube-web */
		
		--background-color: #20222B;
		--title-color: #FFF;
		--header-color: #FCFCFC;
		--text-color: #E6ECF0;
		--link-color: deepskyblue;
	}
}

html {
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 17px;
	background-color: var(--background-color);
	color: var(--text-color);
	
	min-width: 320px;
	max-width: 600px;
	margin: auto;
	padding: 0px 20px 0px 20px;
}

body {
	margin: auto 10px;
	padding: 50px 0;
}

/* Text styling */

a {
	color: var(--link-color);
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: auto auto 1em;
	font-size: 1rem;
	line-height: 1.6em;
}

ul {
	list-style-type: circle;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	color: var(--title-color);
	font-size: 48px;
	line-height: 1em;
}

h2 {
	color: var(--header-color);
	font-size: 32px;
	line-height: 1.5em;
}

h3 {
	color: var(--header-color);
	font-size: 24px;
	line-height: 1.5em;
}

hr {
	border: 0;
	border-bottom: 1px solid #00000010;
}

/* Portfolio styling */

.portfolio {
	display: grid;
	grid-gap: 15px;
}

.portfolio > div {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 10px 10px 0px;
}

.portfolio details {
	padding: 0em 0.5em 0em;
}

.portfolio summary {
	cursor: pointer;
	font-size: 1.33em;
	padding: 0.33em 0em 0em;
	user-select: none;
}

.portfolio details[open] {
	border-bottom: 1px solid #00000010;
}

.portfolio details[open] summary {
	padding: 0.33em 0em 0.5em;
}

/* Footer styling */

.footer {
	user-select; none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	float: right;
	filter: opacity(30%);
}

.footer:hover {
	filter: opacity(100%);
}