/* Base style */

@import url("base.css");

/* Home page */

.grid-portfolio {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0.3em auto 0;
}

@media screen and (width <= 500px) {
	.grid-portfolio {
		grid-template-columns: 1fr 1fr;
	}
}