:root {
	--hover-scale: 1.05;
}

.box {
	counter-increment: box;
	
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 30px;
	padding: 20px;
	
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	-webkit-transition: all 0.3s cubic-bezier(0.165, .84, .44, 1);
	transition: all 0.3s cubic-bezier(0.165, .84, .44, 1);
}

.box::before {
	positive: relative;
	content: counter(paragraph);
}

.box:hover {
  -webkit-transform: scale(var(--hover-scale), var(--hover-scale));
  transform: scale(var(--hover-scale), var(--hover-scale));
  
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}