:root {
	--background-color: #F1F1F1;
	--font-color: #444444;
	--link-inset: #3ECCF0;
	--highlight-color: #E74832;
	--page-content: #F9F9F9;
	
	tab-size: 4;
	-moz-tab-size: 4;
	
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

:root::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: 'Lato', 'Open Sans', sans-serif;
	line-height: 1.7;
	margin: 25px auto;
	max-width: 800px;
	word-break: break-word;
}

body, td {
	font-size: calc(15px + (3 * ((100vw - 300px) / (1920 - 300))));
}

/* Mobile screens */
@media all and (max-width: 800px) {
	.page-content {
		margin: 10px;
	}
}

/* Full-width screens */
@media all and (min-width: 801px) {
}

a {
	border-bottom: 1px solid;
	color: #2c96c7;
	font-weight: 600;
	font-size: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	border-bottom: 2px solid;
	color: var(--highlight-color);
}

img {
	border: 3px solid var(--font-color);
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.grid {
	display: grid;
	gap: 40px;
	grid-template-areas: "1 2";
	grid-template-columns: repeat(auto-fit, 1fr);
}

.grid-box {
	margin: auto;
}

.info-table {
	margin-top: -.5em;
}

.info-table td {
	text-indent: 0.3em;
	padding: .2em 0 .2em .2em;
}

.page-content {
	background: var(--page-content);
	padding: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	margin-top: 1em;
}

.quote, .formula {
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	tex-transform: uppercase;
}

.quote::before {
	content: '“';
}

.quote::after {
	content: '”';
}

.separator {
	display: flex;
	align-items: center;
	color: var(--highlight-color);
	user-select: none;
}

.separator::before {
	margin-right: 0.25em;
}

.separator::after {
	margin-left: 0.25em;
}

.separator::before, .separator::after {
	content: '';
	flex: 1 1;
	border-bottom: 2px solid var(--highlight-color);
	margin: auto;
}

.text-highlight {
	color: var(--highlight-color);
}

.title {
	text-align: center;
	font-size: 3.5em;
	user-select: none;
}